//WORK EXPERIENCE
#workday_logo {
    width: 80%;
    height: auto;
    margin-top: 25px;
    margin-left: 50px;
    /*IPHONE*/
    @media screen and (max-width: 667px) {
        margin-top: 10%;
        margin-left: 10%;
    }
}

#salesforce_logo {
    width: 75%;
    height: auto;
    margin-top: 45px;
    margin-left:20px;
    /*IPHONE*/
    @media screen and (max-width: 667px) {
        margin-top: 10%;
        margin-left: 12%;
    }
}

#dropbox_logo {
    width: 90%;
    height: auto;
    margin-top: 100px;
    margin-left: 30px;
    /*IPHONE*/
    @media screen and (max-width: 667px) {
        margin-top: 13%;
        margin-left: 5%;
    }
}

#box_logo {
    width: 70%;
    height: auto;
    margin-top: 60px;
    margin-left: 35px;
    /*IPHONE*/
    @media screen and (max-width: 667px) {
        margin-top: 13%;
        margin-left: 15%;
    }
}

#zynga_logo {
    width: 90%;
    height: auto;
    margin-top: 110px;
    margin-left: 35px;
    /*IPHONE*/
    @media screen and (max-width: 667px) {
        margin-top: 15%;
        margin-left: 5%;
    }
}

#eventbrite_logo {
    width: 80%;
    height: auto;
    margin-top: 105px;
    margin-left: 25px;
    /*IPHONE*/
    @media screen and (max-width: 667px) {
        margin-top: 13%;
        margin-left: 11%;
    }
}

#ms_logo {
    width: 100%;
    height: auto;
    margin-top: 45px;
    margin-left: 15px;
    /*IPHONE*/
    @media screen and (max-width: 667px) {
        margin-top: 17%;
        margin-left: 0%;
    }
}

//INVOLVEMENTS
#bc_logo {
    width: 60%;
    height: auto;
    margin-top: 30px;
    margin-left: 100px;
    /*IPHONE*/
    @media screen and (max-width: 667px) {
        margin-top: 13%;
        margin-left: 20%;
    }
}

#club_golf_logo {
    width: 65%;
    height: auto;
    margin-top: 15px;
    margin-left: 50px;
    /*IPHONE*/
    @media screen and (max-width: 667px) {
        margin-top: 15%;
        margin-left: 16%;
    }
}

#dx_logo {
    width: 80%;
    height: auto;
    margin-top: 30px;
    margin-left: 60px;
    /*IPHONE*/
    @media screen and (max-width: 667px) {
        margin-top: 10%;
        margin-left: 10%;
    }
}

//PROJECTS
#wordlike_logo {
    width: 60%;
    height: auto;
    margin-top: 35px;
    margin-left: 100px;
    /*IPHONE*/
    @media screen and (max-width: 667px) {
        margin-top: 13%;
        margin-left: 20%;
    }
}

#somewear_logo {
    width: 90%;
    height: auto;
    margin-top: 85px;
    margin-left: -10px;
    /*IPHONE*/
    @media screen and (max-width: 667px) {
        margin-top: 13%;
        margin-left: 5%;
    }
}

#boxhub_logo {
    width: 90%;
    height: auto;
    margin-top: 95px;
    margin-left: 35px;
    /*IPHONE*/
    @media screen and (max-width: 667px) {
        margin-top: 13%;
        margin-left: 5%;
    }
}